<h1>Aires de jeux</h1>

<div class="blocTableau">
  <table>
    <thead>
    <tr>
      <th>NOM</th>
      <th>DESCRIPTION</th>
      <th>QUANTITE</th>
      <th>POINT GEOGRAPHIQUE</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let jeu of paginatedData" (click)="navigateToFormulaire(jeu.id)" style="cursor: pointer;">
      <td>{{ jeu.nom }}</td>
      <td>{{ jeu.description }}</td>
      <td>{{ jeu.quantite }}</td>
      <td (click)="navigateToMap(); $event.stopPropagation()">
        <a href="javascript:void(0)">{{ jeu.pointGeo }}</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<mat-paginator
  [length]="jeuxList.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChange($event)">
</mat-paginator>

<div class="containerButton">
  <button type="button" (click)="navigateToFormulaireReservation()">Reserver</button>
</div>
