<h1>Aires de jeux</h1>

<div class="blocTableau">
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>NOM</th>
        <th>DESCRIPTION</th>
        <th>QUANTITE</th>
        <th>POINT GEOGRAPHIQUE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jeu of jeuxList">
        <td>{{ jeu.id }}</td>
        <td>{{ jeu. nom}}</td>
        <td>{{ jeu.description }}</td>
        <td>{{ jeu.quantite }}</td>
        <td>{{ jeu. pointGeo}}</td>
      </tr>
    </tbody>
</table>
</div>

