<div class="form-container">
  <h2>Formulaire de réservation</h2>
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Utilisateur :</label>
      <span>{{ currentUser?.username }}</span>
    </div>

    <label for="jeuxId">Aire de jeux</label>
    <select id="jeuxId" formControlName="jeuxId">
      <option *ngFor="let jeu of jeux" [value]="jeu.id">
        {{ jeu.nom }}
      </option>
    </select>

    <label for="reservation">Nombre de places</label>
    <input
      id="reservation"
      type="number"
      formControlName="reservation"
      class="form-control"
      min="1"
    />

    <div class="button-group">
      <button type="submit" [disabled]="reservationForm.invalid">Réserver</button>
    </div>
  </form>
</div>
