.error-snackbar {
  color: #fff;
}

.validation-snackbar {
  color: #fff;
}

.error-snackbar .mat-mdc-snack-bar-action {
  color: #d32f2f !important;
}

.validation-snackbar .mat-mdc-snack-bar-action {
  color: #43a047 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
